VITE_SUPABASE_URL="https://mfwkqpbuuotqwhhugfex.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1md2txcGJ1dW90cXdoaHVnZmV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNzY2MzgsImV4cCI6MjA5NDY1MjYzOH0.FkIX4RX0YN7-f1v-WKehBHKxlnWdpVz_NSJj5fz9Vo8"
